.textarea {
  flex-grow: 1;
  border: none;
  outline: none;
  resize: none;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.chat-box {
  width: 80%;
  display: flex;
  align-items: flex-end;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
}

.send-button {
  color: #f0f0f0;
  background-color: blue;

  border: none;
  padding: 4px 8px;
  margin-left: 4px;
  margin-bottom: 2px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.textarea:focus,
.send-button:hover {
  outline: blue;
}
